<template name="HomeLayout">

		<h1 class="page-header">Dashboard</h1>

		<div class="row placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
				<img src="client/img/host-up.png" class="host-up" alt="">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img src="client/img/host-up.png" class="host-down" alt="">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img src="client/img/host-up.png" class="host-alert" alt="">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img src="client/img/host-up.png" class="host-warning" alt="">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
		</div>

		<h2 class="sub-header">Section title</h2>


</template>
